<div class="container">
  <div class="jumbotron-home">
    <h1>WELCOME HOME</h1>
    <h4>Rent unique places to stay from local hosts in 190+ countries</h4>
      <p><a class="btn-btn-default" href="#" role="button">How It Works</a></p>
  </div>
  <div class="row text-center">
    <div class='col-md-offset-1 col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
  </div>

</div>
