// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-nav {

	li a {
	color: #F8F8FF;
	margin-top: -30px;
	}
}

.jumbotron-home {
	margin-top: 0px;
	margin-left: 0px;
	text-align: center;
	background-color: rgba(0, 126, 255, 0.00);
	color: #000000;
	font-size: 100px;
}

.jumbotron-home h1{
	padding-top: 100px;
	font-size: 60px;
	color: #F8F8FF;
}

.jumbotron-home h4{
	padding-bottom: 20px;
	margin-bottom: 10px;
	font-size: 20px;
	color: #F8F8FF;
}

.btn-btn-default{
	font-size: 15px;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	opacity: 0.5;
	background-color: #FFF0F5;
}

body {
     margin: 0;
     background: url('https://a0.muscache.com/airbnb/static/landing_pages/pretzel/stills/london-3bd18731b4aacc8413208e5aa1bf13f3.jpg');
     background-size: 1440px 800px;
     background-repeat:no-repeat;
     display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}



